* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Lucida Grande, Arial, sans-serif;
  background-color: transparent;
}
body::-webkit-scrollbar {
  width: 0px;
}
button,
input {
  outline: none;
  border: 0;
  background: none;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: rgb(73, 87, 107);
}
ul {
  list-style: none;
}
#bookmarks {
  border-radius: 7px;
  display: flex;
  padding: 30px;
  width: 100%;
}
#categories-list {
  width: 100%;
}
#bookmarks .category {
  display: flex;
  list-style: none;
  flex-direction: column;
  width: 100%;
  border: 1px solid rgba(216, 220, 226, 0.37);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 20px;
}
#bookmarks .category-list > li {
  display: flex;
  list-style: none;
  flex-direction: column;
  width: 100%;
  padding: 15px 10px;
  margin-bottom: 10px;
}
.history {
  width: 100%;
}
.item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}
.item-content {
  display: flex;
  align-items: center;
  width: 80%;
}
h4 {
  border-bottom: 1px solid rgba(211, 211, 211, 0.575);
  padding: 20px;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.time {
  font-weight: bold;
  font-size: 13px;
  width: 100px;
}