* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Lucida Grande, Arial, sans-serif;
  background-color: transparent;
}
body::-webkit-scrollbar {
  width: 0px;
}
webview {
  height: 0;
  width: 0;
  background-color: #fff;
}
.active-webview {
  height: 100%;
  width: 100%;
}

#root {
  position: relative;
  background: rgb(193, 194, 250);
  background: linear-gradient(
    90deg,
    rgba(193, 194, 250, 1) 0%,
    rgba(221, 220, 224, 1) 52%,
    rgba(240, 240, 178, 1) 100%
  );
  border-radius: 7px;
  padding: 40px 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-app-region: drag;
  -webkit-user-select: none;
  user-select: none;
}
.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  border-radius: inherit;
  align-items: center;
  padding: 0 10px;
}

.top-bar button {
  background-color: rgba(0, 0, 0, 0.1);
  width: 11px;
  height: 11px;
  border-radius: 50%;
  font-size: 8px;
  color: transparent;
  margin: 0 4px;
  cursor: pointer;
  -webkit-app-region: no-drag;
}

.top-bar button:hover {
  color: rgba(255, 255, 255, 0.7);
}
#root #app-sidebar {
  -webkit-app-region: no-drag;
  position: relative;
  border-radius: inherit;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
}

#root #app-sidebar.toggled-sidebar {
  width: 3%;
}
#root #app-sidebar.toggled-sidebar #tabs {
  display: none;
}
#root #app-sidebar #controllers {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
#root #app-sidebar.toggled-sidebar #controllers {
  flex-direction: column;
  justify-content: flex-start;
}
#root #app-sidebar #controllers #window-controllers {
  display: flex;
  align-items: center;
}

#root #app-sidebar.toggled-sidebar #window-controllers {
  flex-direction: column;
}

#root #app-sidebar #controllers #toggle-btn {
  margin: 0 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
#root #app-sidebar.toggled-sidebar #toggle-btn {
  margin: 10px 0 !important;
}

#root #app-sidebar #controllers #toggle-btn img {
  width: 25px;
  height: 25px;
  opacity: 0.67;
}
#root #app-sidebar #navigation-controllers {
  display: flex;
  align-items: center;
}
#root #app-sidebar.toggled-sidebar #navigation-controllers {
  flex-direction: column;
}
#root #app-sidebar #navigation-controllers button {
  font-size: 16px;
  margin-left: 17px;
  margin-right: 2px;
  color: rgba(51, 51, 51, 0.67);
  cursor: pointer;
}
#menu-button {
  margin: 0 5px;
  color: rgba(51, 51, 51, 0.67);
  cursor: pointer;
  font-size: 18px;
}

#menu {
  width: 225px;
  border-radius: 7px;
  background-color: #fff;
  padding: 20px 0;
  position: absolute;
  top: 30px;
  left: 0;
  transform: scale(0, 0);
  transition: 0.3s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
#menu .menu-item {
  display: flex;
  align-items: center;
  padding: 14px 25px;
  color: rgb(72, 82, 97);
  cursor: pointer;
}
#menu .menu-item:hover {
  background-color: rgba(211, 211, 211, 0.205);
}
#menu .menu-item i {
  margin-right: 10px;
}
#menu.open {
  transform: scale(1, 1);
}

#root #app-sidebar #location-form {
  margin: 20px 0;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
#root #app-sidebar.toggled-sidebar #navigation-controllers button {
  margin: 10px 0;
}
#root #app-sidebar.toggled-sidebar #location-form {
  display: none;
}

#root #app-sidebar #location-form input {
  width: 100%;
  padding: 10px;
  background-color: rgba(51, 51, 51, 0.13);
  border-radius: 8px;
  font-size: 13px;
  color: rgba(51, 51, 51, 0.699);
}
#root #app-sidebar .location-container button {
  padding: 10px;
  border-radius: 8px;
  font-size: 13px;
  color: rgba(51, 51, 51, 0.699);
  cursor: pointer;
}
.location-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#root #app-sidebar #location-form input::placeholder {
  color: rgba(51, 51, 51, 0.699);
  font-size: 13px;
}
#root #tabs {
  width: 100%;
}
#root #tabs #actual-tabs {
  border-bottom: 1px solid rgba(211, 211, 211, 0.547);
  overflow-y: scroll;
}

/* width */
#root #tabs #actual-tabs::-webkit-scrollbar {
  width: 3px;
}

/* Track */
#root #tabs #actual-tabs::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
#root #tabs #actual-tabs::-webkit-scrollbar-thumb {
  background: rgba(51, 51, 51, 0.349);
}

#root #tabs #add-tab {
  width: 100%;
  text-align: start;
  padding: 10px;
  margin: 15px 0;
  color: rgba(51, 51, 51, 0.637);
  cursor: pointer;
}

#root #tabs #add-tab span {
  margin: 0 10px;
}
#root #browser-view {
  width: 82%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  height: 100%;
}

button,
input {
  outline: none;
  border: 0;
  background: none;
}
.tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  width: 100%;
  font-size: 12px;
  cursor: pointer;
  height: 35px;
  -webkit-app-region: no-drag;
  -webkit-animation: add-tab 0.3s;
  animation: add-tab 0.3s;
  border-radius: 4px;
}
.tab .content {
  display: flex;
  align-items: center;
  width: 90%;
}
.tab .content img {
  width: 18px;
  height: 18px;
  margin: 0 10px;
}
.tab .content div {
  overflow: hidden;
  height: 35px;
  word-wrap: normal;
  line-height: 35px;
  width: 100%;
}

.tab .close {
  cursor: pointer;
  font-size: 10px;
  padding: 1px 3px;
  border-radius: 50%;
  -webkit-app-region: no-drag;
}
.tab .close:hover {
  background-color: lightgray;
}
.active-tab {
  background-color: rgba(255, 255, 255, 0.295);
}
#webviews-container {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  width: 78%;
  height: 100%;
  overflow: hidden;
  -webkit-app-region: no-drag;
  transition: 0.3s;
}
#webviews-container.toggled-container {
  width: 95%;
}
#options-bar {
  width: 100%;
  margin-bottom: 15px;
}

#bookmark-btn {
  margin: 0 5px;
  cursor: pointer;
  color: rgba(51, 51, 51, 0.637);
}
#bookmark-btn.active {
  color: gold !important;
}
#root #app-sidebar.toggled-sidebar  #bookmark-btn {
  margin: 10px 0;
}