* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Lucida Grande, Arial, sans-serif;
  background-color: transparent;
 
}
body::-webkit-scrollbar {
  width: 0px;
}
webview {
  height: 0;
  width:0;
  background-color: #fff;
}
.active-webview {
  height: 100%;
  width: 100%;
}

#root {
  background: rgb(193, 194, 250);
  background: linear-gradient(
    90deg,
    rgba(193, 194, 250, 1) 0%,
    rgba(221, 220, 224, 1) 52%,
    rgba(240, 240, 178, 1) 100%
  );
   -webkit-app-region:drag;
  border-radius: 7px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#root #app-sidebar {
  -webkit-app-region: no-drag;
  border-radius: inherit;
  width: 17%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .3s;
}

#root #app-sidebar.toggled-sidebar {
  width:3%;
}
#root #app-sidebar.toggled-sidebar  #tabs{
  display: none;
}
#root #app-sidebar #controllers {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
#root #app-sidebar.toggled-sidebar #controllers {
  flex-direction: column;
  justify-content: flex-start;
}
#root #app-sidebar #controllers #window-controllers {
  display: flex;
  align-items: center;
}

#root #app-sidebar.toggled-sidebar #window-controllers {
  flex-direction: column;
}


#root #app-sidebar #controllers #window-controllers button:not(#toggle-btn) {
  background-color: rgba(0, 0, 0, 0.1);
  width: 11px;
  height: 11px;
  border-radius: 50%;
  font-size: 8px;
  color: transparent;
  margin: 0 4px;
  cursor: pointer;
}
#root #app-sidebar.toggled-sidebar #window-controllers  button:not(#toggle-btn){
  margin: 4px 0 !important;
}

#root
  #app-sidebar
  #controllers
  #window-controllers
  button:not(#toggle-btn):hover {
  color: rgba(255, 255, 255, 0.7);
}

#root #app-sidebar #controllers #toggle-btn {
  margin: 0 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
#root #app-sidebar.toggled-sidebar #toggle-btn{
  margin: 10px 0 !important;
}

#root #app-sidebar #controllers #toggle-btn img {
  width: 25px;
  height: 25px;
  opacity: 0.67;
}
#root #app-sidebar #navigation-controllers {
  display: flex;
  align-items: center;
  
}
#root #app-sidebar.toggled-sidebar #navigation-controllers {
  flex-direction: column;
}
#root #app-sidebar #navigation-controllers button {
  font-size: 12px;
  margin: 0 6px;
  color: rgba(51, 51, 51, 0.67);
  cursor: pointer;
}
#root #app-sidebar #location-form {
  margin: 20px 0;
  display: flex;
  align-items: center;
  width: 100%;
}
#root #app-sidebar.toggled-sidebar #navigation-controllers  button{
  margin: 6px 0;
}
#root #app-sidebar.toggled-sidebar  #location-form{
  display: none;
}

#root #app-sidebar #location-form input {
  width: 100%;
  padding: 10px;
  background-color: rgba(51, 51, 51, 0.13);
  border-radius: 8px;
  font-size: 13px;
  color: rgba(51, 51, 51, 0.699);
}
#root #app-sidebar #location-form input::placeholder {
  color: rgba(51, 51, 51, 0.699);
  font-size: 13px;
}
#root #tabs {
  width: 100%;
}
#root #tabs #actual-tabs {
  border-bottom: 1px solid rgba(211, 211, 211, 0.247);
  max-height: 400px;
  overflow-y: scroll;
}

/* width */
#root #tabs #actual-tabs::-webkit-scrollbar {
  width: 3px;
}

/* Track */
#root #tabs #actual-tabs::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
#root #tabs #actual-tabs::-webkit-scrollbar-thumb {
  background: rgba(51, 51, 51, 0.349);
}

#root #tabs #add-tab {
  width: 100%;
  text-align: start;
  padding: 10px;
  margin: 15px 0;
  color: rgba(51, 51, 51, 0.637);
  cursor: pointer;
}

#root #tabs #add-tab span {
  margin: 0 10px;
}
#root #browser-view {
  width: 82%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  height: 100%;
}

button,
input {
  outline: none;
  border: 0;
  background: none;
}
.tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  width: 100%;
  font-size: 12px;

  cursor: pointer;
  height: 35px;
  -webkit-app-region: no-drag;
  -webkit-animation: add-tab 0.3s;
  animation: add-tab 0.3s;
  border-radius: 4px;
}

.tab .content {
  overflow: hidden;
  height: 35px;
  word-wrap: normal;
  line-height: 35px;
  width: 100%;
}

.tab .close {
  cursor: pointer;
  font-size: 10px;
  padding: 1px 3px;
  border-radius: 50%;
  -webkit-app-region: no-drag;
}
.tab .close:hover {
  background-color: lightgray;
}
.active-tab {
  background-color: rgba(255, 255, 255, 0.295);
}
#webviews-container {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  width : 82%;
  height: 100%;
  overflow: hidden;
  -webkit-app-region: no-drag;
   transition: .3s;
}
#webviews-container.toggled-container {
  width: 96%;
 
}
