.resizer {
  width: 4px;
  cursor: col-resize;
  height: 100%;
  background-color: #e1e1e1;
  position: absolute;
  top: 0;
  z-index: 100;
  opacity: 0.5;
  user-select: none;
  -webkit-user-select: none;
}

.resizer:hover,
.resizer.dragging {
  background-color: #bbb;
  opacity: 1;
  width: 6px;
  margin-left: -1px;
}
