#password-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
}
#password-item * {
 margin: 0 5px;
}
#password-item img {
  width: 20px;
  height: 20px;
}
#password-item .site {
  width: 37%;
}
#password-item p {
  width: 40%;
  font-size: 14px;
  font-weight: bold;
    color: rgb(64, 73, 83);
}
#password-item input {
  width: 20%;
  font-size: 17px;
}
#password-item button {
   color: rgb(64, 73, 83);
}