* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Lucida Grande, Arial, sans-serif;
  background-color: transparent;
}
body::-webkit-scrollbar {
  width: 0px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
webview {
  height: 0;
  width: 0;
  /* background-color: #fff; */
}
.active-webview {
  height: 100%;
  width: 100%;
}

.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  border-radius: inherit;
  align-items: center;
  padding: 0 10px;
}

.top-bar button {
  background-color: rgba(0, 0, 0, 0.1);
  width: 11px;
  height: 11px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  margin: 0 4px;
  cursor: pointer;
  -webkit-app-region: no-drag;
}
.top-bar #window-controls-close {
  background-color: #ff5a52;
}
.top-bar #window-controls-unmaximize,
.top-bar #window-controls-maximize {
  background-color: #51c23a;
}
.top-bar #window-controls-minimize {
  background-color: #e7c039;
}
.top-bar button:hover {
  color: rgba(255, 255, 255, 0.7);
}
#app-sidebar {
  -webkit-app-region: no-drag;
  position: relative;
  border-radius: inherit;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* transition: 0.3s; */
  margin-right: 30px;
}

#app-sidebar.toggled-sidebar #tabs {
  display: none;
}
#app-sidebar #controllers {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
#app-sidebar.toggled-sidebar #controllers {
  flex-direction: column;
  justify-content: flex-start;
}
#app-sidebar #controllers #window-controllers {
  display: flex;
  align-items: center;
}

#app-sidebar.toggled-sidebar #window-controllers {
  flex-direction: column;
}

#app-sidebar #controllers #toggle-btn {
  margin: 0 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
#app-sidebar.toggled-sidebar #toggle-btn {
  margin: 10px 0 !important;
}

#app-sidebar #navigation-controllers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 42%;
  transition: 0.3s;
}
#app-sidebar.toggled-sidebar #navigation-controllers {
  flex-direction: column;
  width: 100%;
}
#app-sidebar #navigation-controllers button {
  font-size: 16px;
  color: rgba(51, 51, 51, 0.67);
  cursor: pointer;
  transition: 0.3s;
}

#menu-button {
  margin: 0 5px;
  color: rgba(51, 51, 51, 0.67);
  cursor: pointer;
  font-size: 18px;
}

#menu {
  width: 225px;
  border-radius: 7px;
  background-color: #fff;
  position: absolute;
  top: 30px;
  left: 0;
  transform: scale(0, 0);
  transition: 0.3s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 100000;
}
#closeMenu{
  width: 100%;
  color: white;
  padding: 5px 5px 0 0;
  font-size: 20px;
  display: flex;
  align-content: flex-end;
  flex-direction: row-reverse;
}
#closeMenuSpan{
  height: 30px;
  width: 30px;
  border-radius: 50%;
 background-color: #f47373;
 margin:1px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#menu .menu-item button {
  width:100%;
  display: flex;
  align-items: center;
  padding: 14px 25px;
  cursor: pointer;
  color: #485261;
  font-size: 16px;
}
#menu .menu-item a {
  display: flex;
  align-items: center;
  padding: 14px 25px;
  cursor: pointer;
  color: #485261;
  font-size: 16px;
}
#menu .menu-item button span {
  margin-left: 10px;
}
#menu .menu-item a span {
  margin-left: 10px;
}

#menu .menu-item:hover {
  background-color: rgba(211, 211, 211, 0.205);
}

#menu.open {
  transform: scale(1, 1);
}

#root #app-sidebar #location-form {
  margin: 20px 0;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
#root #app-sidebar.toggled-sidebar #navigation-controllers button {
  margin: 10px 0;
}
#root #app-sidebar.toggled-sidebar #location-form {
  display: none;
}

#root #app-sidebar #location-form input {
  width: 100%;
  padding: 10px;
  background-color: rgba(51, 51, 51, 0.13);
  border-radius: 8px;
  font-size: 13px;
  color: rgba(51, 51, 51, 0.699);
}
#root #app-sidebar .location-container button {
  padding: 10px;
  border-radius: 8px;
  font-size: 13px;
  color: rgba(51, 51, 51, 0.699);
  cursor: pointer;
}
.location-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
#root #app-sidebar #location-form input::placeholder {
  color: #333333b2;
  font-size: 13px;
}
#root #tabs {
  width: 100%;
  overflow: hidden;
}
#root #tabs #actual-tabs {
  border-bottom: 1px solid rgba(211, 211, 211, 0.547);
  overflow-y: scroll;
  max-height: 700px;
}

/* width */
#root #tabs #actual-tabs::-webkit-scrollbar {
  width: 3px;
}

/* Track */
#root #tabs #actual-tabs::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
#root #tabs #actual-tabs::-webkit-scrollbar-thumb {
  background: rgba(51, 51, 51, 0.349);
}

#root #tabs #add-tab {
  width: 100%;
  text-align: start;
  padding: 10px;
  margin: 15px 0;
  color: rgba(51, 51, 51, 0.637);
  cursor: pointer;
}

#root #tabs #add-tab span {
  margin: 0 10px;
}
#root #browser-view {
  width: 82%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  height: 100%;
}

button,
input {
  outline: none;
  border: 0;
  background: none;
}
.tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  width: 100%;
  font-size: 12px;
  cursor: pointer;
  height: 35px;
  -webkit-app-region: no-drag;
  border-radius: 4px;
  /* animation: slide-up 0.1s; */
}
.tab img {
  width: 18px;
  height: 18px;
}

.tab p {
  overflow: hidden;
  height: 35px;
  word-wrap: normal;
  line-height: 35px;
  width: 80%;
  margin: 15px;
  animation: slide-up 0.1s;
}

.tab .close {
  cursor: pointer;
  font-size: 10px;
  padding: 8px 3px;
}
.active-tab {
  background-color: rgba(255, 255, 255, 0.295);
}
#webviews-container {
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); */
  border-radius: 7px;
  width: 78%;
  height: 100%;
  overflow: hidden;
  -webkit-app-region: no-drag;
  /* transition: 0.3s; */
  /* background-color: white; */
  position: relative;
}
#webviews-container.toggled-container {
  width: 96%;
}
#options-bar {
  width: 100%;
  margin-bottom: 15px;
}

#bookmark-btn {
  margin: 0 5px;
  cursor: pointer;
  color: rgba(51, 51, 51, 0.637);
}
#bookmark-btn.active {
  color: gold !important;
}
#root #app-sidebar.toggled-sidebar #bookmark-btn {
  margin: 10px 0;
}
.loading-indicator {
  /* border: 1px solid red; */
  width: 20px;
  height: 20px;
  animation: loading 0.2s infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#savePasswordDialog {
  display: flex;
  position: absolute;
  background-color: white;
  padding: 20px;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 10px -5px #000;
  left: 10px;
  top: 30px;
  width: 250px;
  z-index: 10000;
}
#savePasswordDialog h2 {
  color: #485261;
  padding: 10px;
  margin-bottom: 10px;
}
#savePasswordDialog input {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid lightgray;
  border-radius: inherit;
  margin-bottom: 10px;
  color: #333;
}
#savePasswordDialog input::placeholder {
  color: rgb(177, 176, 176);
  text-transform: capitalize;
}
#savePasswordDialog button {
  padding: 10px 15px;
  margin: 10px;
  border-radius: 7px;
}
#savePasswordDialog button#save {
  background-color: #e87874;
  color: #fff;
}
#savePasswordDialog button#never {
  color: #e87874;
  background-color: #fff;
}
@keyframes slide-up {
  0% {
    height: 0;
  }
  100% {
    height: 35px;
  }
}
