:root{
  --root-background:#c1c2fa;
  --root-background-grad-1:#dddce0;
  --root-background-grad-2:#f0f0b2;
    --body-backGround:white;
    --body-backGround-transparent:transparent;
    --body-font-color:black;
    --body-font-grey-shade:#333333ab;
    --top-bar-button-bg:rgba(0, 0, 0, 0.1);
    --redish-shade-background:#f2f2f2;
    --accent-color:#e87874;
    --accent-color-hover:#e87874;
    --white-shadow-border:none;
    --active-tab-bg:#ffffff4b;
    --empty-list-font:#1b274b;
    --top-bar-button-bg: #0000001a;
    --window-controllers-icon-font:#333333b2;
    --search-location-container:#333333b2;
    --search-location-container-bg:#33333321;
    }
    
    [data-theme="dark"]{
      --root-background:black;
      --root-background-grad-1:#7e7d7e;
      --root-background-grad-2:#333333ab;
      --top-bar-button-bg:white;
      --accent-color-hover:#562b29;
      --body-backGround:#000000d4;
      --body-font-color:#ffffffda;
      --body-backGround-transparent:#000000d4;
      --redish-shade-background:#000000d4;
      --border-thin:1px solid #302c2c76;
      --body-font-grey-shade:#cccccc;
      --empty-list-font:#ffffffda;
      --window-controllers-icon-font:#333333b2;
      --search-location-container:#a49a9ad7;
      --search-location-container-bg:#33333321;
      /* input {
        color: white;
      } */
      
    }

    .popMenu{
      /* box-shadow:0 0 20px #ffffffcc; */
      border-right: var(--border-thin);
      background-color: var(--body-backGround);
      
    }
    .popMenu .menu-item a span{
      background-color: inherit;
    }