#password-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    color: var(--body-font-color);
}
#password-item * {
 margin: 0 5px;
}
#password-item img {
  width: 20px;
  height: 20px;
}
#password-item .site {
  width: 37%;
}
#password-item p {
  width: 40%;
  font-size: 14px;
  font-weight: bold;
    color: inherit;
}
#password-item input {
  width: 20%;
  font-size: 17px;
  color: inherit;
}
#password-item button {
   color: inherit;
}