@import "../../css/theme.css";

#empty-list {
  padding: 24px;
  font-size: 18px;
  background-color: #e8787413;
  border: 1px solid var(--accent-color);
  border-radius: 8px;
  text-align: center;
  color: var(--accent-color);
}
