.settings {
  background: var(--body-backGround);
  display: flex;
  width: 100%;
  height: 100%;
  height: 97% !important;
  margin-top: 10px;
  border-radius: 7px;
  -webkit-app-region: no-drag;
  color: var(--body-font-color);
}

#settings-content {
  position: relative;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  padding: 15px;
}

.setting-controls {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.settings-page {
  max-width: 60%;
  padding: 20px;
  background: var(--body-backGround);
}

.settings__header {
  text-align: left;
  margin-bottom: 2rem;
}

.setting-option {
  background: var(--body-backGround);
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #aeaeae4c;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  accent-color: #e87874;
}

.save-button {
  display: block;
  background: #e87874;
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-left: auto; /* Moves to rightmost position */
}

.save-button:hover,
.save-button:active {
  background-color: #e05854;
}

.passwords-wrapper {
  padding: 20px;
}

.passwords-header {
  text-align: left;
  margin-bottom: 2rem;
}

.passwords-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}
