#root {
  position: relative;
  background: var(--root-background);
  background: linear-gradient(
    90deg,
    var(--root-background) 0%,
    var(--root-background-grad-1) 52%,
    var( --root-background-grad-2) 100%
  );
  border-radius: 7px;
  padding: 40px 10px 10px;
  -webkit-app-region: drag;
  -webkit-user-select: none;
  user-select: none;
}
