.browserData-container {
  max-width: 50%;
  padding: 20px;
  border-radius: 8px;
}

.browserData-container__header {
  text-align: left;
  margin-bottom: 2rem;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputSet {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid #aeaeae4c;
}

label {
  font-size: 18px;
  font-weight: 500;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  accent-color: #e87874;
}

input[type="number"] {
  width: 200px;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #cccccc7a;
  font-family: inherit;
  color: var(--accent-color-reversed);
}

.deleteButton {
  display: block;
  margin-left: auto;
  background: #e87874;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 1rem 2rem;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.deleteButton:hover {
  background-color: #e05854;
}
